/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

/* Reset CSS*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    -webkit-outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* overflow-y: hidden; */
}

*:focus,
*:active {
    outline: none;
}

/* Variables */
:root {
    --bg-light: #f5f5f5;
    --bg-dark: #1e1e1e;
    --ft-dark: #f1f1f1;
    --ft-light: #1e1e1e;
    --theme-color-one: #ffafcc;
    --theme-color-one-hover: #ffc8dd;
    --theme-color-two: #a2d2ff;
    --theme-color-two-hover: #bde0fe;
    --theme-color-three: #ffb703;
    --theme-color-three-hover: #fb8500;
    --theme-color-four: #fa4949;
    --theme-color-four-hover: #ff0000;
    --theme-color-five: #a341e4;
    --theme-color-five-hover: #3a0ca3;
    --theme-color-six: #4c4af1;
    --theme-color-six-hover: #0000ff;
    --theme-color-seven: #f8f669;
    --theme-color-seven-hover: #f8f669;
    --theme-color-eight: #a1ff0a;
    --theme-color-eight-hover: #7eff00;

    --player-one-theme: white;
    --player-two-theme: black;
    --player-one-hover: #ffafcc;
    --player-two-hover: #0f1316;
}

.light {
    --bg: var(--bg-light);
    --text: var(--ft-light);
}

.dark {
    --bg: var(--bg-dark);
    --text: var(--ft-dark);
}

body {
    height: 100vh;
    background-color: var(--bg);
    color: var(--text);
    font-family: "Patrick Hand", cursive;
}

header {
    margin: 2rem;
    text-align: center;
    letter-spacing: 0.3rem;
}

.theme-changer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    margin: 0.1rem 1rem 2rem 0;
    gap: 1rem;
}

.theme-button-container {
    display: none;
}

.nav-button {
    position: relative;
    padding: 0.3rem;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.theme-drawer-button-container {
    width: 2.2rem;
    aspect-ratio: 1;
}

.nav-button-line {
    position: absolute;
    width: 100%;
    height: 2px;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
    background-color: var(--text);
}

#line-one {
    transform: translateY(0.5rem);
}

#line-three {
    transform: translateY(-0.5rem);
}

.open #line-one {
    transform: rotate(45deg) translateX(0.1rem);
}

.open #line-three {
    transform: rotate(-45deg) translateX(-0.05rem);
}

.open #line-two {
    opacity: 0;
}


.theme-button {
    padding: 0.4rem 0.3rem;
    border-radius: 5px;
    border: 2px solid var(--text);
    background-color: var(--bg);
    color: var(--text);
    cursor: pointer;
    outline: none;
    -webkit-outline: none;
}

.theme-button#light-button {
    background-color: var(--bg-light);
    color: var(--ft-light);
    border: 2px solid var(--ft-light);
}

.theme-button#dark-button {
    background-color: var(--bg-dark);
    color: var(--ft-dark);
    border: 2px solid var(--ft-dark);
}

.hidden {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: clamp(80%, 90%, 1000px);
    height: fit-content;
    gap: 10rem;
    margin: auto;
    padding: 2rem;
    background-color: hsl(0 0% 100% / 0.4);
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.grid-item {
    min-width: 0;
    min-height: 0;
    background-color: var(--text);
    /*blur */
    backdrop-filter: blur(3px);
    border: 1px solid black;
    border-radius: 50%;
    transition: transform 350ms;
    min-width: 85%;
    max-width: 100%;
    aspect-ratio: 1;
    margin: auto;
    transition: all 0.3s ease-in-out;
}

.grid-item:hover {
    /* add background shadow */
    background-color: var(--text);
    backdrop-filter: blur(5px);
    cursor: pointer;
}

.grid-item[data-selectedBy="player-one"] {
    background-color: var(--player-one-theme);
}

.grid-item[data-selectedBy="player-two"] {
    background-color: var(--player-two-theme);
}

.game-panel {
    width: 100%;
    margin-bottom: 1rem;
}

.game-button-container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.game-button {
    padding: 0.5rem;
    text-transform: uppercase;
    scale: 1.5;
    border-radius: 50px;
}

.game-button#start-button {
    background-color: #70ae6e;
    color: white;
}

.game-button#reset-button {
    background-color: #f4743b;
    color: white;
}

.game-button#restart-button {
    background-color: #f43b3b;
    color: white;
}

.game-button#start-button:hover {
    background-color: #1fd319;
    color: black;
    cursor: pointer;
}

.game-button#reset-button:hover {
    background-color: #f44336;
    color: black;
    cursor: pointer;
}

.game-button#restart-button:hover {
    background-color: #7e0d05;
    color: black;
    cursor: pointer;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.form .form-inner {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
}

.form .form-inner .player-information-container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.form .form-inner .player-information-container input {
    padding: 0.5rem;
}

.form .form-inner .color-container {
    width: 50%;
    margin: auto;
}

input {
    border: 1px solid var(--bg-dark);
    border-radius: 25px;
    font-size: large;
}

.color-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.color-selection-container {
    display: grid;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    aspect-ratio: 1/0.5;
}

.radio-container {
    display: grid;
}

.radio-container label[for="theme-1"] {
    background-color: var(--theme-color-one);
}

.radio-container label[for="theme-2"] {
    background-color: var(--theme-color-two);
}

.radio-container label[for="theme-3"] {
    background-color: var(--theme-color-three);
}

.radio-container label[for="theme-4"] {
    background-color: var(--theme-color-four);
}

.radio-container label[for="theme-5"] {
    background-color: var(--theme-color-five);
}

.radio-container label[for="theme-6"] {
    background-color: var(--theme-color-six);
}

.radio-container label[for="theme-7"] {
    background-color: var(--theme-color-seven);
}

.radio-container label[for="theme-8"] {
    background-color: var(--theme-color-eight);
}

.radio-container label {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    z-index: -1;
    opacity: 1;
    position: relative;
    border-radius: 25px;
}

.radio-container input {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    opacity: 0;
    z-index: 1;
}

#player-one-color .radio-container input:checked~label::after {
    content: "1";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 2.2rem;
    border-bottom-right-radius: 15px;
    background-color: var(--bg);
    color: var(--text);
}

#player-two-color .radio-container input:checked~label::after {
    content: "2";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 2.2rem;
    border-bottom-right-radius: 15px;
    background-color: var(--bg);
    color: var(--text);
}

.winner-container {
    width: 100%;
    padding: 2rem;
    text-align: center;
    font-size: 4rem;
}

.player-data-container {
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.current-player-indicator {
    position: relative;
    font-size: 2rem;
}

.current-player-indicator span {
    margin-left: 2rem;
}

.current-player-indicator::before {
    position: absolute;
    content: '';
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 1rem 1rem 1rem 0;
    text-align: center;
    font-size: 2rem;
    background-color: limegreen;
    animation: blinking 1s infinite;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Media Queries */
/* Mobile */
@media screen and (max-width: 750px) {

    .grid-container {
        gap: 2rem;
    }

    .grid-item {
        width: 95%;
    }

    .form .form-inner {
        flex-direction: column;
    }

    .color-container {
        flex-direction: column;
    }

    .color-container label {
        font-size: 1.5rem;
    }

    .color-selection-container {
        grid-template-columns: repeat(2, 1fr);
        aspect-ratio: 1;
    }

    .game-button-container {
        flex-direction: column;
        gap: 2rem;
    }

    #player-one-color .radio-container input:checked~label::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
        transform: translate(65%, 65%);
        border-radius: 50%;
        background-color: var(--bg);
        color: var(--text);
    }

    #player-two-color .radio-container input:checked~label::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
        transform: translate(65%, 65%);
        border-radius: 50%;
        background-color: var(--bg);
        color: var(--text);
    }
}

/* Tablet */
@media screen and (min-width: 751px) and (max-width: 1000px) {


    .grid-container {
        gap: 3rem;
        width: 50%;
    }

    .grid-item {
        width: 100%;
    }

    .color-selection-container {
        grid-template-columns: repeat(2, 1fr);
        aspect-ratio: 1;
    }
}

/* Desktop */
@media screen and (min-width: 1001px) {

    .grid-container {
        gap: 4rem;
        width: 50%;
    }

    .grid-item {
        width: 90%;
    }

    .color-selection-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .form {
        font-size: 2rem;
    }
}